[submodule "imx-atf"]
	path = imx-atf
	url = https://github.com/nxp-imx/imx-atf.git
[submodule "u-boot-tn-imx"]
	path = u-boot-tn-imx
	url = https://github.com/TechNexion/u-boot-tn-imx.git
[submodule "imx-mkimage"]
	path = imx-mkimage
	url = https://github.com/nxp-imx/imx-mkimage.git
[submodule "mfgtools"]
	path = mfgtools
	url = https://github.com/nxp-imx/mfgtools.git
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "optee_os"]
	path = optee_os
	url = https://github.com/OP-TEE/optee_os.git
